.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height:100px;
    padding: 20px;
    background-color: #f3f3f3;
    border:1px solid #dddddd;
    border-radius: 3px;
}

.subtotal-gift{
   display: flex;
   align-items: center;
}

.subtotal-gift>input{
   margin-right: 5px;
}

.subtotal-gift>button{
    background: #ff9f00;
    border-radius: 2px;
    width: 100%;
    height:30px;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.subtotal-gift>button:hover{
    background-color: #ff9d00;
    color: white;
    cursor: pointer;
}
